<div style="width: 50%;" >
    <div fd-form-set>
        <div fd-form-item>
            <label fd-form-label for="input-1">Title:</label>
            <input fd-form-control type="text" id="input-1" placeholder="For example: interested in beta feature.">
        </div>
    </div>
    <div fd-form-set>
        <div fd-form-item>
            <label fd-form-label for="textarea-1">
                Note Content:
            </label>
            <textarea fd-form-control placeholder="The note content" id="textarea-1"></textarea>
        </div>
    </div>
</div>