<fd-panel style="margin: 12px 0px 12px 0px;">
    <fd-panel-header>
        <fd-panel-head>
            <h2 fd-panel-title>Config Page</h2>
            <fd-panel-description>Decision tree flows config</fd-panel-description>
        </fd-panel-head>
    </fd-panel-header>
</fd-panel>

<fd-panel>
    <fd-panel-header>
        <fd-panel-head>
            <h2 fd-panel-title>Existing Trees</h2>
        </fd-panel-head>
        <fd-panel-actions>
            <button fd-button (click)="openCreatModal(preInfoModal)">Create</button>
        </fd-panel-actions>
    </fd-panel-header>

    <fd-panel-body>
        <table fd-table>
            <thead fd-table-header>
                <tr fd-table-row>
                    <th fd-table-cell>Template Id</th>
                    <th fd-table-cell>Template Name</th>
                    <th fd-table-cell>Templates Count</th>
                    <th fd-table-cell>Decisions Count</th>
                    <th fd-table-cell>Conduct</th>
                </tr>
            </thead>
            <tbody fd-table-body>
                <tr *ngFor="let temp of templates; let i = index" fd-table-row>
                    <td fd-table-cell class="fd-has-font-weight-semi"><a href="#">{{temp.id}}</a></td>
                    <td fd-table-cell>{{temp.name}}</td>
                    <td fd-table-cell>{{temp.templates.length}}</td>
                    <td fd-table-cell>{{temp.decisions.length}}</td>
                    <td fd-table-cell>
                        <button fd-button [fdType]="'medium'" [options]="'light'" [glyph]="'detail-view'"
                            (click)="selectTemplate(i, 'detail')"></button>
                        <button fd-button [fdType]="'medium'" [options]="'light'" [glyph]="'download'"
                            (click)="selectTemplate(i, 'download')"></button>
                        <button fd-button [fdType]="'medium'" [options]="'light'" [glyph]="'delete'"
                            (click)="selectTemplate(i, 'delete')"></button>
                    </td>

                </tr>
            </tbody>
        </table>
    </fd-panel-body>

</fd-panel>

<fd-panel *ngIf="isCreatingTree">
    <fd-panel-header>
        <fd-panel-head>
            <h2 fd-panel-title>Create Tree</h2>
        </fd-panel-head>
        <fd-panel-actions>
            <button fd-button (click)="isCreatingTree = false" [options]="'light'"
                style="margin-right: 12px;">Cancle</button>
            <button fd-button (click)="createTemplateConfig()" [options]="'emphasized'">Confirm</button>
        </fd-panel-actions>
    </fd-panel-header>

    <fd-panel-body>
        <div fd-form-set>
            <div fd-form-item style="width: 30%;">
                <label fd-form-label for="inputName">Tree Name *:</label>
                <input fd-form-control type="text" id="inputName" [(ngModel)]="onEditTemplateConfig.name"
                    placeholder="new tree name" [state]="noNameError ? 'invalid' : ''"
                    (ngModelChange)="noNameError = false">
            </div>
        </div>
        <div fd-form-set>
            <div fd-form-item style="width: 100%;">
                <label fd-form-label>Templetes:</label>
                <div *ngIf="onEditTemplateConfig.templates && onEditTemplateConfig.templates.length">
                    <p *ngFor="let temp of onEditTemplateConfig.templates; let i = index">{{temp.id}} / {{temp.name}}
                        <button fd-button [fdType]="'standard'" [options]="'light'" [glyph]="'decline'"
                            (click)="deleteTemplate(i)"></button>
                    </p>
                </div>
                <div *ngIf="!onEditTemplateConfig.templates || !onEditTemplateConfig.templates.length">
                    <p> No templates added
                    </p>
                </div>
            </div>
        </div>
        <div fd-form-set>
            <div fd-form-item style="width: 100%;">
                <label fd-form-label>Decisions:</label>
                <div *ngIf="onEditTemplateConfig.decisions && onEditTemplateConfig.decisions.length">
                    <p *ngFor="let decision of onEditTemplateConfig.decisions; let i = index">{{decision.id}} /
                        {{decision.text}} /
                        {{decision.pid ? decision.pid : 'null'}} /
                        {{decision.templateId ? decision.templateId : 'null'}}
                        <button fd-button [fdType]="'standard'" [options]="'light'" [glyph]="'decline'"
                            (click)="deleteDecision(i)"></button>
                    </p>
                </div>
                <div *ngIf="!onEditTemplateConfig.decisions || !onEditTemplateConfig.decisions.length">
                    <p> No decisions added
                    </p>
                </div>
            </div>
        </div>
    </fd-panel-body>

    <fd-panel>
        <fd-panel-header>
            <fd-panel-head>
                <h3 fd-panel-title>Decisions</h3>
            </fd-panel-head>
            <fd-panel-actions>
                <button fd-button (click)="addDecision()" style="margin-right: 12px;">Add</button>
            </fd-panel-actions>
        </fd-panel-header>

        <fd-panel-body>
            <table fd-table>
                <tbody>
                    <tr>
                        <td>
                            <label fd-form-label for="decisionId">Decision Id</label>
                            <input fd-form-control id="decisionId" type="text" [(ngModel)]="onEditDecision.id">
                        <td>
                            <label fd-form-label for="decisionText">Decision Text</label>
                            <input fd-form-control id="decisionText" type="text" [(ngModel)]="onEditDecision.text">
                        </td>
                        <td>
                            <label fd-form-label for="decisionPid">Decision Pid</label>
                            <input fd-form-control id="decisionPid" type="text" [(ngModel)]="onEditDecision.pid">
                        </td>
                        <td>
                            <label fd-form-label for="decisionTid">Decision TemplateId</label>
                            <input fd-form-control id="decisionTid" type="text" [(ngModel)]="onEditDecision.templateId">
                        </td>
                    </tr>
                </tbody>
            </table>
        </fd-panel-body>

    </fd-panel>

    <fd-panel>
        <fd-panel-header>
            <fd-panel-head>
                <h3 fd-panel-title>Templetes</h3>
            </fd-panel-head>
            <fd-panel-actions>
                <button fd-button (click)="addTemplete()" style="margin-right: 12px;">Add</button>
            </fd-panel-actions>
        </fd-panel-header>

        <fd-panel-body>
            <table fd-table>
                <tbody>
                    <tr>
                        <td>
                            <label fd-form-label for="templateId">Template Id</label>
                            <input fd-form-control id="templateId" type="text" [(ngModel)]="onEditTemplate.id">
                        </td>
                        <td>
                            <label fd-form-label for="templateName">Template Name</label>
                            <input fd-form-control id="templateName" type="text" [(ngModel)]="onEditTemplate.name">
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label fd-form-label for="TemplateValues">Template Values</label>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            <button fd-button (click)="addTemplateValue()" style="float: right">Add</button>
                        </td>
                    </tr>
                    <tr *ngFor="let single of onEditTemplateValues; let i = index">
                        <td>
                            <label fd-form-label for="key">Key</label>
                            <input fd-form-control id="key" type="text" [(ngModel)]="single.key">
                        </td>
                        <td>
                            <label fd-form-label for="value">Value</label>
                            <input fd-form-control id="value" type="text" [(ngModel)]="single.value">
                        </td>
                        <td>
                            <label fd-form-label for="type">Type</label>
                            <input fd-form-control id="type" type="text" [(ngModel)]="single.type">
                        </td>
                    </tr>
                </tbody>
            </table>
        </fd-panel-body>
    </fd-panel>

</fd-panel>
<ng-template let-modal #preInfoModal>
    <fd-modal-header>
        <h1 fd-modal-title>Choose the steps to continue</h1>
        <button fd-modal-close-btn (click)="modal.dismiss('x')"></button>
    </fd-modal-header>
    <fd-modal-body style="text-align: center;">
        <fd-file-input #fdInput style="width: 100%;" (onDragEnter)="uploadState = 'over'"
            (onDragLeave)="uploadState = 'default'" (onSelect)="selectHandler($event)" [accept]="'.json'">
            <div class="outer-div">
                <div class="inner-div" [ngClass]="{'state-over': uploadState === 'over'}">
                    <div class="content-div" *ngIf="!uploadFiles || uploadFiles.length === 0">
                        <fd-icon [glyph]="'upload-to-cloud'" [size]="'xl'"></fd-icon>
                        <span style="margin-top: 10px;">
                            Drop the .json config file(s) here, or
                            <a style="cursor: pointer;" (click)="fdInput.open()">
                                browse
                            </a>.
                        </span>
                    </div>
                    <div class="content-div" *ngIf="uploadFiles && uploadFiles.length > 0">
                        <ul fd-list
                            style="display: block; width: 100%; height: 100%; max-height: 100%; overflow: auto;">
                            <li fd-list-item *ngFor="let file of uploadFiles; let i = index;">
                                {{file.name}}
                                <span style="flex-grow: 1;"></span>
                                <span class="delete-icon">
                                    <fd-icon [glyph]="'sys-cancel'" [size]="'l'" (click)="removeFile(i)"></fd-icon>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </fd-file-input>
        <button fd-button [options]="'light'" (click)="createTree()">Create new decision config</button>
    </fd-modal-body>
    <fd-modal-footer>
        <button class="action-button" fd-button (click)="modal.dismiss('cancel')" [options]="'light'">
            Cancel
        </button>
        <button *ngIf="uploadFiles && uploadFiles.length > 0" class="action-button" fd-button
            (click)="modal.close('continue')" [fdType]="'main'">
            Upload
        </button>
    </fd-modal-footer>
</ng-template>

<ng-template let-modal #detailModal>
    <fd-modal-header>
        <h1 fd-modal-title></h1>
        <button fd-modal-close-btn (click)="modal.dismiss('x')"></button>
    </fd-modal-header>
    <fd-modal-body style="text-align: center;">

    </fd-modal-body>
    <fd-modal-footer>
        <button class="action-button" fd-button (click)="downloadFile()" [options]="'light'">
            Download
        </button>
        <button class="action-button" fd-button (click)="modal.close('continue')" [fdType]="'main'">
            Confirmed
        </button>
    </fd-modal-footer>
</ng-template>
