<div style="height=100%">
<div class="fd-panel wcc-decision-body">
  <div class="fd-panel__header">
    <div class="fd-panel__head">
      <h3 class="fd-panel__title">
        Operator Decision Tree
      </h3>
      <p class="fd-panel__description">
        {{ currentDecision ? decisionDesc : "Start by choosing an option from the list below." }}
      </p>
    </div>
    <div class="fd-panel__actions">
      <button fd-button (click)="continue()">Skip</button>
    </div>
  </div>
  <div class="fd-panel__filters" *ngIf="currentDecision">
    <div class="wcc-actions">
      <button fd-button (click)="onGoBack()">Back</button>
      <button fd-button (click)="onGoRoot()">Start Over</button>
    </div>
  </div>
  <div class="fd-panel__body">
    <div class="wcc-decision-items">
      <ul>
        <li *ngFor="let decision of decisions">
          <button fd-button (click)="onMakeDecision(decision)">{{decision.text}}</button>
        </li>
      </ul>
    </div>
    <div class="wcc-template-content" *ngIf="template">
      <div>{{template}}</div>
      <button fd-button (click)="continue()">Confirm</button>
    </div>
  </div>
</div>
</div>
