<div class="fd-panel wcc-decision-body">
  <div class="fd-panel__header fd-has-padding-bottom-none">
    <div class="fd-panel__head">
      <h3 class="fd-panel__title wcc-title">
        Operator Decision Tree
      </h3>
      <p class="fd-panel__description wcc-description">
        {{ currentDecision ? decisionDesc : "Start by choosing an option from the list below." }}
      </p>
    </div>
    <div class="fd-panel__actions">
      <button fd-button aria-selected="true" [fdType]="'medium'" [options]="'light'" (click)="continue()" [compact]="true">SKIP</button>
    </div>
  </div>
  <div class="fd-panel__filters fd-has-padding-bottom-none" *ngIf="currentDecision">
    <div class="wcc-actions">
      <button fd-button [options]="'light'" (click)="onGoBack()">BACK</button>
      <button fd-button [options]="'light'" (click)="onGoRoot()" class="wcc-button-red">START OVER</button>
    </div>
  </div>
  <div class="fd-panel__body">
    <div class="wcc-decision-items">
      <ul>
        <li *ngFor="let decision of decisions">
          <button fd-button (click)="onMakeDecision(decision)">{{decision.text}}</button>
        </li>
      </ul>
    </div>
    <div class="wcc-template-content" *ngIf="template">

      <table fd-table>
        <thead fd-table-header>
          <tr fd-table-row>
            <th fd-table-cell>Name</th>
            <th fd-table-cell>Value</th>
          </tr>
        </thead>
        <tbody fd-table-body>
          <tr *ngFor="let row of template" fd-table-row>
            <td fd-table-cell>{{row.name}}</td>
            <td fd-table-cell>{{row.value}}</td>
          </tr>
        </tbody>
      </table>

      <button fd-button [fdType]="'positive'" [options]="'emphasized'" [compact]="true" (click)="continue()"
        class="fd-has-float-right">CONFIRM</button>
    </div>
  </div>
</div>